# Non condividere la cartella delle fonti
/fonti/

# File temporanei di Windows
Thumbs.db
Desktop.ini

# File temporanei generici
*.tmp
*.bak
.aider*

# Progetto separato
/AL-database/

# Vecchio sottomodulo dismesso
-Le-Emozioni-Arrivano-Prima-di-Noi-_old_submodule/
